{% extends "base.html" %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'signup.css' %}">
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{% block content %}
<script>
function displayPopup(message) {
    Swal.fire({
        icon: 'success',
        title: 'Success!',
        text: message,
        confirmButtonText: 'OK'
    });
}
</script>

{% if messages %}
    {% for message in messages %}
        <script>displayPopup("{{ message }}");</script>
    {% endfor %}
{% endif %}
<div class="editForm">
    <form class="addEvent" method="POST" action="{% url 'adminpage:add_event' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btnSubmit" type="submit">Create Event</button>
    </form>
</div>
{% endblock %}
